.logo {
    color: #c60023;
    font-weight: bold;
    text-decoration: none;
}

.logo:hover {
    color: #8f041d;
}

.index {
    /* position: absolute;
    left: 120px;
    top: 75px; */
    display: inline-block;
    font-size: 26px;
}

.small {
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    left: 60px;
    top: 50px;
}