.logo {
    color: #111;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    transition: 0.2s ease;
}

.logo:hover {
    color:#9e9e9e;
}

.dot {
    color: burlywood;
}

.index {
    /* position: absolute;
    left: 120px;
    top: 75px; */
    display: inline-block;
    font-size: 30px;
}

.small {
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    left: 60px;
    top: 50px;
}