.cartDiv {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    overflow: auto;
    min-height: 600px;
}

.title {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #444;
}

.cartListDiv {
    margin-top: 20px;
    border-top: 0.5px solid #ddd;
}

.priceHeader {
    float: right;
    font-size: 14px;
    color: #565659;
    padding-right: 10px;
}

.unitPrice {
    padding-right: 30px;
}

.totalDiv {
    clear: both;
    font-size: 18px;
    color: #0f1111;
    margin-bottom: 5px;
}
.subtotalNum {
    font-weight: 700;
}

.footer {
    float: right;
    padding-top: 20px;
}
.faCart {
    padding-right: 7px;
}