.infoDiv {
    display: inline-block;
}

.name {
    font-size: 28px;
    color: #191919;
    line-height: 1.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.price {
    color: #666;
    font-size: 14px;
    padding-bottom: 1.8em;
}

.priceSpan {
    color: #B12704;
    font-size: 18px;
}

.inStock {
    color: #007600;
    font-size: 14px;
}

.unavailable {
    color: #B12704;
    font-size: 14px;
}
