.input {
    width: 60px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    margin: 0 5px;
}

.prdNumAdder {
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    border: 1px solid #000;
    background: none;
    color: #000;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease;
}
.prdNumAdder:hover {
    color: white;
    background-color: #000;
}