.itemDiv {
    border-bottom: 0.5px solid #ddd;
    /* overflow: hidden; */
    /* For dropdown not to be hidden by div -> any better way? */
    overflow-x: visible;
    overflow-y: visible;
    min-height: 150px;
    padding: 10px 10px;
}

.leftCol {
    float: left;
    padding-left: 220px;
    width: 60%;
}

.rightCol {
    float: right;
    /* width: 20%; */
}

.imgCon {
    width: 120px;
    height: 120px;
    float: left;
    margin-left: -160px;
}
.img {
    width: 100%;
    height: 100%;
}

.totalPrice {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}
.unitPrice {
    font-size: 18px;
    color: #444;
    padding-right: 20px;
}
.checkboxDiv {
    float: left;
    margin-right: 15px;
    margin-top: 55px;
    margin-left: -220px;
}

.name {
    color: #007185;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.name:hover {
    color: #ac381b;
}

.inStock {
    color: #007600;
    font-size: 14px;
}
.unavailable {
    color: #B12704;
    font-size: 14px;
}


.delete {
    color: #999;
    padding: 0 15px;
    border-left: 0.5px solid #999;
    cursor: pointer;
    line-height: 40px;
}

.dropdownDiv {
    float: left;
    margin-right: 20px;
}