.section {
    width: 100%;
    padding: 55px 0 55px 0;
}
.title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 0.3em;
    color: #191919;
    line-height: 1.8em;
    font-family: 'Montserrat', sans-serif;
}
.passage {
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #7f7f7f;
    font-weight: 200;
}