.DrawerToggle {
    /* width: 40px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    margin-right: 10px; */
}

.fa {
    color: #9e9e9e;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    font-family:'Lato', sans-serif;
    transition: 0.2s ease;
    margin-left: 20px;
}
.fa:hover{
    color: #111;
}