.Button {
    border: none;
    background-color: #c60023;
    color: #eee;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.search {
    position: absolute;
    width: 80px;
    height: 41px;
}

.userInfoSubmit {
    width: 100%;
    padding: 6px 0;
    font-size: 20px;
}

.addToCart {
    width: 130px;
    height: 40px;
    font-weight: 400;
}

.checkout {
    width: 130px;
    height: 40px;
    font-weight: 400;
}