.navBar {
    border-bottom: 1px solid #eee;
}

.navigation {
    width: 90%;
    margin: 0 auto;
    display: block;
    height: 40px;
    line-height: 40px;
}

.navLeft {
    height: 100%;
    float: left;
}

.navRight {
    float: right;
}