.item {
    border: 1px solid #bdbdbd;
    margin-bottom: 20px;
}

.input {
    width: 80%;
    padding: 10px 0 10px 50px;
    border: none;
    font-size: 15px;
    outline: none;
}

.fa {
    position: absolute;
    width: 40px;
    line-height: 36px;
    background: #f3f3f3;
    font-size: 18px;
    color: #d3d3d3;
    text-align: center;
    border-right: 1px solid #bdbdbd;
}