@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

html,body,#root {
  height: 100%;
}

div, h1, input{
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}
h1, h2, h3 {
  /* color: #191919; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
p {
  font-family: 'Lato', sans-serif;
  color: #7f7f7f;
  font-weight: 100;
}

.svg-inline--fa.fa-w-14 {
  width: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input:focus { 
  outline: none !important;
}

li {
  list-style: none;
}

svg {
  width: auto;
  height: auto;
}
