* {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

div, h1, input{
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

.svg-inline--fa.fa-w-14 {
  width: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

svg {
  width: auto;
  height: auto;
}
